# Build output
**/target/
**/build/
**/.gradle/
**/.idea/
**/.vscode/

# Maven wrapper
**/.mvn/wrapper/maven-wrapper.jar

# Spring Tool Suite
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

# IntelliJ IDEA
*.iws
*.iml
*.ipr

# NetBeans
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/

# Environment files
**/.env

# OS-specific
.DS_Store
Thumbs.db

# Logs
**/logs/
*.log

# Temporary files
*.tmp
*.swp

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

**/serviceAccountKey.json