version: '3.8'
services:
  minio:
    image: minio/minio:latest 
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
      MINIO_SERVER_URL: "http://localhost:9000"  
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000" 
      - "9001:9001" 
    command: server /data --console-address ":9001"

  app:
    build: .
    depends_on:
      - minio
    environment:
      MINIO_ENDPOINT: "minio:9000"
      MINIO_EXTERNAL_ENDPOINT: "localhost:9000"
      MINIO_ACCESS_KEY: "minioadmin"
      MINIO_SECRET_KEY: "minioadmin"
      DEFAULT_BUCKET_NAME: "images"
    ports:
      - "8000:8000"
    restart: on-failure 

volumes:
  minio-data:
    driver: local